.slide-in-left {
  transform:translateX(-100%);
  animation-name: SlideInLTransform;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.slide-in-right {
  transform:translateX(100%);
  animation-name: SlideInRTransform;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

@keyframes SlideInLTransform {
  0% {
    transform:translateX(-100%)
  }
  100% {
    transform:translateX(0%)
  }
}
@keyframes SlideInRTransform {
  0% {
    transform:translateX(100%)
  }
  100% {
    transform:translateX(0%)
  }
}