.UsageChecker {
  text-align: left;

  & h3 {
    margin: 0;
    margin-bottom: 1vh;
  }
  & h4 {
    margin: 0;
    margin-bottom: 2vh;
  }

  & svg {
    width: 100%;
    max-height: 60px;
    padding: 0.5vw;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
  }

  & input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
  }

  & label {
    border: 3px solid var(--brand-primary);
    background-color: var(--brand-tertiary);
    border-radius: 5px;
    width: 30%;
    min-height: 13vh;
    overflow: hidden;
    font-size: 1em;
    text-align: center !important;
    margin-bottom: 1vw;
    padding: 1vw;
    svg {
      margin-top: 10px;
    }
  }

  & input[type="checkbox"]:checked + label {
    background-color: var(--brand-success);
    color: white;
  }
}
